# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
/venv/
/venv2/

# Generated reports
/reports/
/frontend/

# VSCode
.vscode/

# Terraform files
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

# Config file
config.yaml
